# Your Sentry DSN (from your Sentry account)
VITE_SENTRY_DSN=
SENTRY_DYNACONF_RELEASE=0.0.1

# Your Sentry organization (from your Sentry account)
# VITE_SENTRY_ORG=
# VITE_SENTRY_PROJECT=
# SENTRY_AUTH_TOKEN=

# Database URL for PostgreSQL
DATABASE_URL="postgresql://username:password@localhost:5432/mydb"

